body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.univ_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_text {
    text-align: center;
}

.title_text {
    text-align: center;
    margin-top: 10px;
}

.registration_number {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.red {
    color: red;
}

.full_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
}

.full_table th {
    padding: 8px;
    background-color: #cfe2f3;
    text-transform: uppercase;
    text-align: center;
}

.full_table td {
    padding: 8px;
    text-align: center;
    border: none;
}

.table_title {
    background-color: #cfe2f3;
    text-transform: uppercase;
    padding: 8px;
    font-size: 16px;
}

.fees_table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
}

.fees_table th {
    border: 2px solid black;
    padding: 8px;
    background-color: #cfe2f3;
    text-transform: uppercase;
    text-align: center;
}

.border {
    border: 2px solid black;
}

.border td {
    padding: 5px;
}

.border_payment {
    border: 2px solid black;
}

.border_payment td {
    padding: 5px;
    border: 2px solid black;
}

.refund_table {
    width: 50%;
    border-collapse: collapse;
    background-color: transparent;
    border: none;
    margin-left: 0;
}

.refund_table th, .refund_table td {
    padding: 20px;
    text-align: left;
    background-color: transparent;
    border: none;
}

.refund_table th {
    text-transform: uppercase;
    text-align: center;
}

.fees_and_refund {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.approval-section {
    text-align: right;
    margin-top: 20px;
}

.approval-section p {
    font-size: 14px;
    margin: 0;
}
