body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.univ_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    text-align: center;
}

.registration_number {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.red {
    color: red;
}

.student_info {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
}

.student_info th {
    background-color: #cfe2f3;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

.student_info td {
    padding: 8px;
    border: none;
}

.student_info td strong {
    font-weight: bold;
}

.table_title {
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px;
    border: 2px solid black;
}

.subject_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
}

.subject_table td {
    border: 1px solid #000;
    padding: 8px;
    font-size: 14px;
    text-align: center;
}

.subject_table th {
    background-color: #cfe2f3;
}
